
{% if error %}
  <div class="light xsmall">{{ error | safe }}</div>
{% elif loading %}
  <div class="dimmed light small">{{ phrases.loading | safe }}</div>
{% endif %}

{% if not loading %}
  <div class="meal-items">
    {% for meal in menu.meals %}
    <div class="meal-item{% if meal.isToday %} today{% elif meal.shouldFade %} fade{% endif %}">
      {% if config.showPictures %}
      <div class="meal-image">
        <img src="{{ meal.photoUrl }}" {% if config.roundPictureCorners %}class="rounded"{% endif %}
          onerror="src='{{ config.defaultPicture }}'"
        />
      </div>
      {% endif %}
      <div class="meal-info">
        <div class="meal-header">
          <span class="meal-date">{{ meal.date }}</span>
          <span class="meal-separator">{{ config.dateMealSeperator }}</span>
          <span class="meal-type">{{ meal.meal }}</span>
        </div>
        <div class="meal-name">
          {{ meal.name }}
        </div>
        {% if config.showDescription %}
        <div class="meal-description">
          {{ meal.description }}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}

    {% if menu.meals | length == 0 %}
    <div class="meal-empty">
      {{ phrases.emptyMealPlan | safe }}
    </div>
    {% endif %}
  </div>

  <div class="meta-timestamp" id="{{ moduleTimestampIdPrefix + identifier }}" data-timestamp="{{ timestamp }}">
    {% if config.displayTimestamp %}
    <div class="dimmed light xsmall">
      {{ lastUpdated }}
      </div>
    {% endif %}
  </div>
{% endif %}
